-r severusStudy/snape/requirements.txt
flask~=3.0.3
flask-socketio~=5.4.1
flask-wtf
WTForms~=3.1.2
email_validator
eventlet~=0.37.0
tornado
werkzeug~=3.0.4
numpy
matplotlib
gensim
pandas
peft~=0.13.2
neo4j
pyagrum==1.15.1
ollama~=0.4.6

torch~=2.6.0
transformers~=4.50.1
bert-score~=0.3.13
typing_extensions~=4.12.2
requests~=2.32.3
safetensors~=0.4.5
gguf~=0.14.0
sentencepiece~=0.2.0
pyyaml~=6.0.2
pydantic~=2.10.5
docstring-parser~=0.16
annotated-types~=0.7.0
levenshtein~=0.27.1
trl~=0.15.2
datasets~=3.3.2
packaging~=24.1
filelock~=3.16.1
mcts~=1.0.4
flask
flask-socketio
sympy
owlready2